.aside-links {
  &__group {
    &:not(:first-of-type) {
      margin-top: var(--d-space-large);
    }
  }

  &__link {
    @mixin link var(--c-nav-link);

    transition: color 100ms ease-out;

    .feature & {
      color: #fff;
    }
    &:hover {
      color: var(--c-teal);
    }
  }

  &__list {
    display: grid;
    grid-gap: var(--d-space) 0;
    list-style: none;
    padding-left: 10px;
  }

  &__item {
    @mixin fancy-bullet;
    @mixin fancy-bullet--blue;
  }
}
