.aside-citation {
  margin-bottom: $d-space-xlarge;
  &__body {
    padding: $d-padding-small;
    background-color: $c-off-white;
    background-image: url('/assets/bg-pattern.png');
    background-position: top left;
    background-repeat: no-repeat;
    color: $c-medium-light-gray;
    border-radius: $d-border-radius;
    font-size: 11px;

    span {
      display: inline-block;
      margin: 0 0 0 $d-padding-small;
      text-indent: (-$d-padding-small);
      line-height: 1.75;
      &:first-line { text-indent: 0; }
    }
  }
}
