.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0 10px;
  justify-content: flex-start;

  @media (min-width: 768px) {
    grid-gap: 0 20px;
  }
}

.breadcrumb {
  &:not(:last-of-type) {
    &::after {
      content: '/';
      padding-left: 10px;
      font-weight: 600;

      @media (--medium) {
        padding-left: 20px;
      }

      .feature & {
        color: #fff;
      }
    }
  }

  &__link {
    color: $c-medium-light-gray;
    font-size: 18px;
    &:hover {
      color: $c-teal;
    }
    .feature & {
      color: #fff;
    }
  }
}
