.breadcrumbs {
  display: grid;
  grid-gap: $d-space-xsmall 0;
  justify-content: flex-start;
  @include md-max {
    padding: $d-space-small 0;
    border-top: 1px solid $c-very-light-gray;
    border-bottom: 1px solid $c-very-light-gray;
  }
  @include md {
    grid-auto-flow: column;
    grid-gap: 0 $d-space;
  }
}

.breadcrumb {
  &:not(:last-of-type) {
    &::after {
      content: '/';
      padding-left: 10px;
      font-weight: 600;

      @include md {
        padding-left: 20px;
      }

      .feature & {
        color: #fff;
      }
    }
  }

  &__link {
    @extend %gray-teal-link;
    font-size: 14px;
    .feature & {
      color: #fff;
    }
    @include md {
      font-size: 18px;
    }
  }
}
