.breadcrumbs {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0 10px;
  justify-content: flex-start;

  @include md {
    grid-gap: 0 20px;
  }
}

.breadcrumb {
  &:not(:last-of-type) {
    &::after {
      content: '/';
      padding-left: 10px;
      font-weight: 600;

      @include md {
        padding-left: 20px;
      }

      .feature & {
        color: #fff;
      }
    }
  }

  &__link {
    @extend %gray-teal-link;
    font-size: 18px;
    .feature & {
      color: #fff;
    }
  }
}
