.button {
  display: inline-block;
  appearance: none;
  outline: none;
  padding: 17px 34px;
  background: var(--c-teal);
  border: solid 2px var(--c-teal);
  color: #fff;
  border-radius: 6px;
  font: 600 12px var(--f-sans);
  letter-spacing: .05rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 100ms ease-out;

  &:hover {
    background: var(--c-teal--alt);
    border-color: var(--c-teal--alt);
  }

  &:focus {
    border-color: var(--c-teal--alt);
    box-shadow: 0 0 10px var(--c-teal);
  }

  &:active {
    background: var(--c-teal);
    border-color: var(--c-teal);
  }

  &--video {
    padding-left: 62px;
    background: transparent url('/assets/icon-play.png') 20px 50% no-repeat;
    color: inherit;

    &:hover {
      /* background: var(--c-teal--hover); */
    }

    &:focus {
      /* border-color: var(--c-off-white); */
    }

    &:active {
      /* background: var(--c-teal); */
    }

  }

  &[href*="youtube"],
  &[href*="vimeo"] {
    @extend .button--video;
  }

}
