.button {
  display: inline-block;
  appearance: none;
  outline: none;
  padding: $d-padding-small $d-padding;
  background: $c-teal;
  border: solid 2px $c-teal;
  color: #fff;
  border-radius: $d-border-radius;
  font: 600 14px $f-sans;
  letter-spacing: .05rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 100ms ease-out;
  cursor: pointer;

  @include md {
    font: 600 12px $f-sans;
  }

  &:hover {
    background: $c-teal--alt;
    border-color: $c-teal--alt;
  }

  &:focus {
    border-color: $c-teal--alt;
    box-shadow: 0 0 10px $c-teal;
  }

  &:active {
    background: $c-teal;
    border-color: $c-teal;
  }

  &--small {
    padding: $d-padding-xsmall;
    border-radius: $d-border-radius-small;
  }

  &--light {
    background: $c-off-white !important;
    border-color: $c-off-white !important;
    color: $c-gray;
  }

  &--dark {
    background: $c-blue !important;
    border-color: $c-blue !important;
    &:focus {
      box-shadow: 0 0 10px $c-blue;
    }
  }

  &--disabled {
    background: $c-very-light-gray;
    border-color: $c-very-light-gray;
    pointer-events: none;
    box-shadow: none;
  }

  &--video,
  &[data-action="video"],
  &[href*="youtube"],
  &[href*="vimeo"] {
    padding-left: $d-padding-large;
    background: transparent url('/assets/icon-play.png') 20px 50% no-repeat;
    color: inherit;
  }

  &--hollow {
    background: transparent;
    color: inherit;
    &:hover {
      background: transparent;
    }
  }

}

.play-button {
  background: transparent;
  border: 0;
  border-radius: $d-border-radius;
  outline: none;
  padding: $d-padding-small;
  cursor: pointer;

  @include md {
    padding: $d-padding;
  }

  & > * {
    transform: translateY(0px);
    transition: transform 150ms ease-out;
  }
  &:hover > * {
    transform: translateY(-2px);
  }
  &:active > * {
    transform: translateY(2px);
  }
  &:focus {
    box-shadow: 0 0 0 2px $c-teal--alt;
  }

  &__icon {
    width: 15px;
    margin-bottom: 1.5vw;

    @include sm {
      width: 30px;
    }

    @include large {
      width: 50px;
    }
  }

  &__cta {
    color: #fff;
    font-size: 12px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    margin: 0;
  }
}
