.button {
  display: inline-block;
  appearance: none;
  outline: none;
  padding: calc(var(--d-padding) / 2) var(--d-padding);
  background: var(--c-teal);
  border: solid 2px var(--c-teal);
  color: #fff;
  border-radius: var(--d-border-radius);
  font: 600 14px var(--f-sans);
  letter-spacing: .05rem;
  text-transform: uppercase;
  text-align: center;
  transition: all 100ms ease-out;
  cursor: pointer;

  @media (--medium) {
    font: 600 12px var(--f-sans);
  }

  &:hover {
    background: var(--c-teal--alt);
    border-color: var(--c-teal--alt);
  }

  &:focus {
    border-color: var(--c-teal--alt);
    box-shadow: 0 0 10px var(--c-teal);
  }

  &:active {
    background: var(--c-teal);
    border-color: var(--c-teal);
  }

  &--small {
    padding: calc(var(--d-padding-small) / 2);
    border-radius: var(--d-border-radius-small);
  }

  &--disabled {
    background: var(--c-very-light-gray);
    border-color: var(--c-very-light-gray);
    pointer-events: none;
    box-shadow: none;
  }

  &--video {
    padding-left: calc(var(--d-padding) * 2);
    background: transparent url('/assets/icon-play.png') 20px 50% no-repeat;
    color: inherit;
  }

  &--hollow {
    background: transparent;
    color: inherit;
    &:hover {
      background: transparent;
    }
  }

  &[data-action="video"],
  &[href*="youtube"],
  &[href*="vimeo"] {
    @extend .button--video;
  }

}

.play-button {
  background: transparent;
  border: 0;
  border-radius: var(--d-border-radius);
  outline: none;
  padding: var(--d-padding-small);
  cursor: pointer;

  @media (--medium) {
    padding: var(--d-padding);
  }

  & > * {
    transform: translateY(0px);
    transition: transform 150ms ease-out;
  }
  &:hover > * {
    transform: translateY(-2px);
  }
  &:active > * {
    transform: translateY(2px);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--c-teal--alt);
  }

  &__icon {
    width: 15px;
    margin-bottom: 1.5vw;

    @media (--small) {
      width: 30px;
    }

    @media (--large) {
      width: 50px;
    }
  }

  &__cta {
    color: #fff;
    font-size: 12px;
    letter-spacing: .05rem;
    text-transform: uppercase;
    margin: 0;
  }
}
