.categories {
  &__title {
    color: var(--c-black);
    font: 600 18px var(--f-sans);
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    @extend %fancy-bullet;
    margin: 5px 0;
  }

  &__link {
    @include link($c-nav-link);

    font: 400 14px var(--f-sans);
    line-height: 1.4;

    &:hover {
      color: var(--c-teal);
    }
  }
}
