.content {
  margin: 60px 0;

  p {
    &.large {
      font-size: 23px;
    }
  }

  h3 {
    font: normal 29px var(--f-serif);

    &:first-of-type {
      margin-top: 0;
    }
  }

  ul {
    @mixin clear-list;
    display: grid;
    grid-gap: 1rem 0;

    li {
      @mixin fancy-bullet;
    }
  }
}
