.essay {
  @extend %layout-container;

  margin-top: $d-padding-large;
  margin-bottom: $d-padding-large;
  display: grid;
  grid-gap: $d-padding-small $d-padding;
  grid-template-areas:  "title"
                        "image"
                        "breadcrumbs"
                        "article"
                        "aside";

  @include md {
    grid-template-columns: #{'~"8fr 4fr"'};
    grid-gap: $d-padding $d-padding-large;
    grid-template-areas:  "image image"
                          "breadcrumbs breadcrumbs"
                          "title ."
                          "article aside";
  }

  &__article {
    grid-area: article;
  }

  &__title {
    grid-area: title;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__image {
    display: block;
    grid-area: image;
    margin-bottom: $d-space;
    object-fit: cover;
    width: 100%;
  }

  &__author {
    font: 400 20px $f-serif;
    color: $c-medium-gray;
    font-weight: 400;
    margin: $d-space-small 0 0;
    @include md {
      font-size: 24px;
    }
  }

  &__aside {
    grid-area: aside;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    .aside-abstract {
      align-self: flex-start;
    }

    .aside-links {
      padding-bottom: $d-padding-large;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
