.essay {
  @mixin layout-container;
  display: grid;
  grid-gap: var(--d-padding-small) 50px;
  grid-template-columns: 8fr 4fr;
  grid-template-areas:  "image"
                        "breadcrumbs"
                        "title"
                        "article"
                        "aside";

  @media (--medium) {
    grid-gap: var(--d-padding) 50px;
    grid-template-areas:  "image image"
                          "breadcrumbs breadcrumbs"
                          "title ."
                          "article aside";
  }

  &__article {
    grid-area: article;
  }

  &__title {
    grid-area: title;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__image {
    display: block;
    grid-area: image;
    margin-bottom: 40px;
    object-fit: cover;
    width: 100%;
  }

  &__aside {
    grid-area: aside;
    align-self: flex-start;
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (--medium) {
      position: sticky;
      top: 0;
      padding-top: var(--d-space-large);
    }
  }
}
