.event-item {
  &-header {
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (min-width: 768px) {
      grid-gap: 0 50px;
      grid-template-columns: 5.5fr 4.5fr;
    }

    && {
      margin: 25px auto;

      @media (min-width: 768px) {
        margin: 25px auto 100px;
      }
    }

    &__cta {
      background: var(--c-footer-cta-bg);
      display: grid;
      grid-gap: var(--d-padding) 0;
      justify-items: center;
      padding: var(--d-padding);

      @media (min-width: 768px) {
        justify-items: flex-start;
        padding: var(--d-padding) 100px;
      }

      &.title {
        margin: 0;
      }
    }

    &__summary {
      align-content: center;
      align-items: center;
      display: grid;
      justify-items: flex-start;
    }
  }
}
