.event-item-header {
  display: grid;
  grid-gap: var(--d-padding) 0;

  @media (min-width: 768px) {
    grid-gap: 0 50px;
    grid-template-columns: 5.5fr 4.5fr;
  }

  && {
    margin: 25px auto;

    @media (--medium) {
      margin: 25px auto var(--d-padding);
    }
  }

  &__cta {
    background: var(--c-footer-cta-bg);
    border-radius: var(--d-border-radius);
    box-shadow: var(--d-box-shadow);
    padding: var(--d-padding);
    border: 1px solid var(--c-very-light-gray);

    @media (--medium) {
      padding: var(--d-space-unit) var(--d-padding);
    }

    strong:first-child {
      font: 400 28px var(--f-serif);
    }

    a {
      @extend .button;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 18px;
      color: var(--c-medium-gray);
    }
  }
}
