.event-blocks {
  display: grid;
  grid-auto-rows: 450px;
  grid-gap: 30px 0;
  margin: 60px auto;
  width: 780px;
}

.event-block {
  align-content: flex-end;
  align-items: flex-end;
  background: var(--c-blue);
  color: #fff;
  display: grid;
  grid-gap: 10px 0;
  justify-content: flex-start;
  padding: 50px 45px;
  position: relative;

  * {
    position: relative;
    z-index: 1;
  }

  &__preheader {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }

  &__title {
    font-size: 35px;
    font-weight: 600;
    margin: 0;
  }

  &__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: .25;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
