.collection-type-events-moku.view-item {
  main > .layout-container--main {
    display: none;
  }
}

.event-item-header {
  display: grid;
  grid-gap: $d-padding 0;

  @include md {
    grid-gap: 0 50px;
    grid-template-columns: #{'~"5.5fr 4.5fr"'};
  }

  & {
    margin: 25px auto;

    @include md {
      margin: 25px auto $d-padding;
    }
  }

  &__cta {
    background-color: $c-footer-cta-bg;
    background-image: url('/assets/bg-pattern.png');
    background-position: top left;
    background-repeat: no-repeat;
    border-radius: $d-border-radius;
    padding: $d-padding;
    border: 1px solid $c-very-light-gray;

    @include md {
      padding: $d-space $d-padding;
    }

    strong:first-child {
      font: 400 28px $f-serif;
    }

    a {
      @extend .button;
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      font-size: 18px;
      color: $c-medium-gray;
    }
  }
}
