.feature {
  @extend %antialiased;
  padding-top: $d-padding-large;
  background: $c-blue;
  color: #fff;

  &__map {
    &-container {
      @include responsive-media(53%);
    }

    img {
      // TODO (CSS) Fix this for small viewports
      margin-left: -30px;
      width: #{'~"calc(100% + 60px)"'};

      @include md {
        margin-left: #{'~"calc(((100vw - 100%) / 2) * -1)"'};
        width: 100vw;
      }
    }
  }
}
