.featured-resources {
  background-color: $c-off-white;
  background-image: url('/assets/bg-pattern.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding: $d-padding-large 0;

  @include md {
    padding: $d-padding-xlarge 0;
  }

  &__container {
    @include md {
      display: grid;
      grid-template-columns: #{'~"4fr 11fr"'};
      grid-gap: 0 $d-padding;
      grid-template-areas: 'frs-aside frs-collection';
    }
    @include xlarge {
      grid-gap: 0 $d-padding-large;
      align-items: flex-start;
    }
  }

  &__aside {
    @include md {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }

  &__description {
    margin-bottom: $d-space-small;

    @include md {
      margin-bottom: $d-space-large;
    }

    h1, h2, h3 {
      color: $c-gray;
      font: 500 36px $f-serif;
      margin: 0;
    }
    p {
      color: $c-gray;
      font: normal 15px $f-sans;
    }
    a {
      @extend .button;
    }
  }

  &__collection {
    display: grid;
    grid-gap: $d-padding 0;

    @include md {
      grid-gap: $d-padding 0;
    }

    @include xlarge {
      grid-area: frs-collection;
      grid-gap: $d-padding-large $d-padding-large;
      grid-template-columns: #{'~"1fr 1fr"'};
    }
  }

  .button {
    grid-area: frs-cta;
  }

  &__categories {
    grid-area: frs-categories;
  }
}

.featured-resource {
  display: grid;
  grid-template-areas: 'image'
                       'title'
                       'category'
                       'excerpt';
  grid-gap: $d-padding-xsmall $d-padding-small;
  justify-content: flex-start;
  justify-items: flex-start;
  pointer-events: none;

  @include sm {
    align-content: flex-start;
    align-items: flex-start;
    grid-template-columns: #{'~"80px 1fr"'};
    grid-template-areas: 'image category'
                         'image title'
                         'image excerpt';
  }

  @include xlarge {
    grid-gap: $d-padding-xsmall $d-padding;
    grid-template-columns: #{'~"100px 1fr"'};
    grid-template-areas: 'image category'
                         'image title'
                         'image excerpt';
  }

  &__image {
    position: relative;
    grid-area: image;
    height: 0;
    padding-bottom: 50%;
    width: #{'~"calc(100% + 60px)"'};
    margin: 0 0 0 (-$d-padding);
    pointer-events: initial;
    background-image: url('/assets/thumbnail-placeholder.png');
    background-size: 100% 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @include sm {
      padding-bottom: 100%;
      width: 100%;
      margin: 0;
      border: solid 2px #fff;
    }
  }

  &__copy {
    grid-area: copy;
    pointer-events: initial;
  }

  &__category {
    color: $c-medium-gray;
    font: 600 14px $f-sans;
    grid-area: category;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    pointer-events: initial;
  }

  &__title {
    font: 500 22px $f-serif;
    grid-area: title;
    line-height: 1.25;
    margin: 0;
    pointer-events: initial;
    color: $c-gray;
    .featured-resource:hover & {
      color: $c-teal;
    }
  }

  &__excerpt {
    color: $c-gray;
    font: 500 14px $f-sans;
    grid-area: excerpt;
    line-height: 1.5;
    margin: 0;

    @include md {
      margin: 0;
    }
  }
}
