.featured-resources {
  background: var(--c-off-white);
  padding: var(--d-padding) 0;

  @media (min-width: 768px) {
    padding: 130px 0;
  }

  &__container {
    @media (min-width: 768px) {
      align-items: flex-start;
      display: grid;
      grid-gap: 0 60px;
      grid-template-areas: 'frs-aside frs-collection';
      grid-template-columns: 4fr 11fr;
    }
  }

  &__aside {
    @media (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    color: var(--c-gray);
    font: 500 36px var(--f-serif);
    grid-area: frs-title;
    margin: 0;
  }

  &__desciption {
    color: var(--c-gray);
    font: normal 15px var(--f-sans);
    grid-area: frs-description;
  }

  &__collection {
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (min-width: 768px) {
      grid-area: frs-collection;
      grid-gap: 80px 60px;
      grid-template-columns: 1fr 1fr;
    }
  }

  .button {
    grid-area: frs-cta;
  }

  .categories {
    grid-area: frs-categories;
    margin-top: 50px;
  }
}

.featured-resource {
  display: grid;
  grid-gap: 0 20px;
  grid-template-areas: 'image category' 'image title' 'excerpt excerpt';
  grid-template-columns: 100px 1fr;
  justify-content: flex-start;
  justify-items: flex-start;

  @media (min-width: 768px) {
    align-content: flex-start;
    align-items: flex-start;
    grid-gap: 0 30px;
    grid-template-areas: 'image category' 'image title' 'image excerpt';
  }

  &__image {
    border: solid 2px #fff;
    display: block;
    grid-area: image;
    height: 100%;
    object-fit: cover;
    width: 100%;

    @media (min-width: 768px) {
      height: 80px;
      width: 80px;
    }
  }

  &__copy {
    grid-area: copy;
  }

  &__category {
    color: var(--c-medium-gray);
    font: 600 14px var(--f-sans);
    grid-area: category;
    letter-spacing: .5px;
    margin: 0 0 5px;
    text-transform: uppercase;
  }

  &__title {
    font: 500 22px var(--f-serif);
    grid-area: title;
    line-height: 1.25;
    margin: 0 0 10px;
  }

  &__excerpt {
    color: var(--c-gray);
    font: 500 14px var(--f-sans);
    grid-area: excerpt;
    line-height: 1.5;
    margin: 10px 0 0;

    @media (min-width: 768px) {
      margin: 0;
    }
  }
}
