.footer {
  background: var(--c-footer-bg);
  color: #fff;
  padding-bottom: var(--d-padding);

  &__container {
    @mixin layout-container;
    display: grid;
    justify-content: center;

    @media (min-width: 760px) {
      grid-gap: 0 var(--d-padding);
      grid-template-areas: 'footer__logo-container footer__credits';
      justify-content: space-between;
      min-height: var(--d-footer-height);
    }
  }

  &__logo-container {
    @media (min-width: 760px) {
      @mixin grid-column-vertical-center;
      grid-area: footer__logo-container;
    }
  }

  &__logo {
    display: block;
    margin: var(--d-padding) auto;
    max-width: calc(100% - 60px);
    object-fit: contain;
    width: 327px;

    @media (min-width: 760px) {
      margin: initial;
    }
  }

  &__credits {
    @media (min-width: 760px) {
      @mixin grid-column-vertical-center;
      grid-area: footer__credits;
      justify-content: flex-end;
    }
  }
}
