.footer {
  background: var(--c-footer-bg);
  color: #fff;

  &__container {
    @mixin layout-container;
    display: grid;
    grid-gap: 0 var(--d-padding);
    grid-template-areas: 'footer__logo-container footer__credits';
    min-height: var(--d-footer-height);
  }

  &__logo-container {
    @mixin grid-column-vertical-center;
    grid-area: footer__logo-container;
  }

  &__logo {
    display: block;
    height: 127px;
    object-fit: contain;
    width: 327px;
  }

  &__credits {
    @mixin grid-column-vertical-center;
    grid-area: footer__credits;
    justify-content: flex-end;
  }
}
