.footer {
  background: $c-footer-bg;
  color: #fff;
  padding-bottom: $d-padding;

  &__container {
    @extend %layout-container;
    display: grid;
    justify-content: center;

    @include md {
      grid-gap: 0 $d-padding;
      grid-template-areas: 'footer__logo-container footer__credits';
      justify-content: space-between;
      min-height: $d-footer-height;
    }
  }

  &__logo-container {
    @include md {
      align-items: center;
      display: grid;
      grid-auto-flow: column dense;
      grid-area: footer__logo-container;
    }
  }

  &__logo {
    display: block;
    margin: $d-padding auto;
    max-width: #{'~"calc(100% - 60px)"'};
    object-fit: contain;
    width: 327px;

    @include md {
      margin: initial;
    }
  }

  &__credits {
    @include md {
      align-items: center;
      display: grid;
      grid-auto-flow: column dense;
      grid-area: footer__credits;
      justify-content: flex-end;
    }
  }
}
