.footer-cta {
  background: var(--c-footer-cta-bg);
  padding: var(--d-padding-large) var(--d-padding);
  @media (--large) {
    padding: var(--d-padding) var(--d-padding-large);
    margin-bottom: var(--d-padding);
    border-radius: var(--d-border-radius-large);
  }

  &__layout-container {
    padding: 0;
    align-items: top;
    display: grid;
    grid-gap: 5px 10px;
    grid-template-areas: 'icon copy' 'description description' 'button button';
    grid-template-columns: 30px 1fr;

    @media (min-width: 960px) {
      grid-template-columns: 70px 1fr;
      align-content: center;
      align-items: center;
      grid-auto-flow: column;
      grid-gap: 15px 60px;
      grid-template-areas: 'icon copy button';
    }
  }

  &__icon {
    grid-area: icon;
  }

  &__copy {
    grid-area: copy;

    h1, h2, h3 {
      font: 600 24px var(--f-serif);
      margin: 0;
      @media (--large) {
        font-size: 36px;
      }
    }
  }

  &__button {
    grid-area: button;
    a {
      @extend .button;
    }
  }
}
