.footer-cta {
  background: $c-footer-cta-bg;
  padding: $d-padding-large $d-padding;

  &__layout-container {
    padding: 0;
    align-items: top;
    display: grid;
    grid-gap: 5px 10px;
    grid-template-areas: 'icon copy' 'description description' 'button button';
    grid-template-columns: #{"~'30px 1fr'"};

    @media (min-width: 960px) {
      grid-template-columns: #{"~'70px 1fr'"};
      align-content: center;
      align-items: center;
      grid-auto-flow: column;
      grid-gap: 15px 60px;
      grid-template-areas: 'icon copy button';
    }
  }

  &__icon {
    grid-area: icon;
  }

  &__copy {
    grid-area: copy;

    h1, h2, h3 {
      font: 600 24px $f-serif;
      margin: 0;
      @include large {
        font-size: 36px;
      }
    }
  }

  &__button {
    grid-area: button;
    a {
      @extend .button;
    }
  }
}
