.footnotes {
  background-color: $c-off-white;
  background-image: url('/assets/bg-pattern.png');
  background-position: top left;
  background-repeat: no-repeat;
  color: $c-medium-light-gray;
  font-size: 14px;
  padding: $d-padding-small;
  border-radius: $d-border-radius;
  margin-bottom: $d-padding;

  @include md {
    margin-bottom: $d-padding-large;
    padding: $d-padding;
  }

  &__group {
    margin-bottom: $d-space;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    font: 600 18px $f-sans;
    margin: 0 0 $d-space;
    text-transform: uppercase;
  }
  a {
    color: $c-teal;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
    vertical-align: bottom;
    &:visited {
      color: $c-gray;
    }
    &:hover {
      color: $c-medium-gray;
    }
  }

  &__body {
    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    &--columns {
      columns: 2;
      column-gap: $d-space;
    }
    &--references {
      margin: 0 0 0 $d-padding-small;
      text-indent: (-$d-padding-small);
      line-height: 1.75;
      &:first-line { text-indent: 0; }

      a {
        text-indent: 0;
      }
    }
  }
}
