.general {
  p {
    font-size: 17px;
    line-height: 1.6;

    &:first-child {
      font-size: 23px;
    }
  }
}

.section-heading {
  font: 500 58px var(--f-serif);
  margin: 0 0 60px;
  text-align: center;

  .promos & {
    grid-column: 1 / 4;
  }

  + .section-subheading {
    margin-top: -60px;
  }
}

.section-subheading {
  color: var(--c-medium-gray);
  font: normal 36px var(--f-sans);
  margin: 60px 0;
  text-align: center;
}

.heading {
  color: var(--c-black);
  font: 500 35px var(--f-serif);
  margin-bottom: 0;
  margin-top: 0;
}

.subheading {
  color: var(--c-medium-gray);
  font: 600 14px var(--f-sans);
  margin: 0;
  text-transform: uppercase;
}

img {
  &.float {
    &--right {
      float: right;
      margin: 0 0 10px 10px;
    }
  }
}
