.general {
  h1, h2, h3 {
    font-family: $f-serif;
    font-weight: 400;
    color: $c-gray;
    line-height: 1.25;
    margin-top: $d-space-large;
  }
  h1 {
    font-size: 24px;
    @include md {
      font-size: 28px;
    }
  }
  h2 {
    font-size: 22px;
    @include md {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 20px;

    @include md {
      font-size: 22px;
    }
  }
  p {
    font-size: 16px;
    line-height: 2;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .feature & {
      color: #fff;
    }

    @include md {
      font-size: 18px;
      line-height: 1.75;
    }
  }
  ul {
    padding-left: $d-space;
  }
  ol li,
  ul li {
    margin-bottom: $d-space;
  }
  a {
    color: $c-teal;
    &:visited {
      color: $c-medium-light-gray;
    }
    &:hover {
      color: $c-gray;
    }
  }
  blockquote {
    position: relative;
    color: $c-medium-light-gray;
    margin: $d-space-large 0;

    @include md-max {
      padding-left: ($d-padding-small - 4px);
      margin-left: (-$d-padding-small);
      border-left: 4px solid $c-very-light-gray;
    }
    @include md {
      margin: $d-space 0;
      padding: $d-space;
    }
    p, h1, h2, h3 {
      font-family: $f-serif;
      border-radius: 2px;
      font-size: 18px;
      margin: $d-space-small 0;
      @include md {
        font-size: 24px;
      }
    }
  }
}

.collection-list-heading {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  @include sm {
    font-size: 32px;
    margin-bottom: $d-space;
  }

  @include large {
    font-size: 36px;
    margin-bottom: $d-space-large;
  }
}

.section-heading {
  text-align: center;
  margin-top: $d-padding;

  @include md {
    margin-top: $d-padding-large;
  }

  h1 {
    font: 500 32px $f-serif;
    margin: 0 0 $d-padding;

    @include md {
      font-size: 48px;
      margin-bottom: $d-space;
    }

    @include large {
      font-size: 58px;
      margin-bottom: $d-space-large;
    }

    + h2,
    + h3 {
      margin-bottom: $d-space !important;
      margin-top: (-$d-space);
      font-size: 26px;


      @include sm {
        margin-top: (-$d-space) !important;
        font-size: 40px;
      }

      @include large {
        margin-bottom: $d-space-large !important;
        margin-top: (-$d-space-large) !important;
        font-size: 48px;
      }
    }
  }

  h2, h3 {
    color: $c-medium-gray;
    font: normal 36px $f-sans;
    margin: $d-space 0;
  }

  &--forehead {
    padding-top: $d-space-largehalf;
    margin-top: 0;
  }


  &--small {
    h1 {
      font-size: 24px;

      @include sm {
        font-size: 32px;
      }
      @include large {
        font-size: 36px;
      }
      + h2,
      + h3 {
        font-size: 20px;
        @include sm {
          font-size: 24px;
        }
        @include large {
          font-size: 28px;
        }
      }
    }
    h2, h3 {
      font: normal 32px $f-sans;
    }
  }


  &--left {
    text-align: left;
    margin-top: 0;
    max-width: 720px;
  }

  .promos & {
    grid-column: 1 / 4;
  }

  &--no-padding {
    h1 {
      margin-bottom: 0;
    }
  }
}

.aside-heading {
  font: 600 14px $f-sans;
  text-transform: uppercase;
  margin: 0 0 $d-space;
  span {
    color: $c-teal;
  }
}

.section-subheading {
  text-align: center;
  color: $c-medium-gray;

  h1, h2, h3, p {
    font: 500 24px $f-sans;
    margin: 0 0 $d-padding;

    @include md {
      font-size: 36px;
      margin: 0 0 60px;
    }
  }

  .section-heading ~ & {
    margin-top: $d-space-small;

    @include md {
      margin-top: $d-space;
    }
  }
}

.preheading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: -15px;
  text-transform: uppercase;

  .feature & {
    color: #fff;
  }
}

.heading {
  color: $c-black;
  font: 500 24px $f-serif;
  margin-bottom: 0;
  margin-top: 0;

  .feature & {
    color: #fff;
  }

  @include md {
    font-size: 32px;
  }
}

.subheading {
  color: $c-medium-gray;
  font: 600 14px $f-sans;
  margin: 0;
  text-transform: uppercase;
}

.title {
  font: 600 28px $f-serif;
  margin: 0;

  &--splash {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px 0;

    @include md {
      font-size: 36px;
    }

    @include large {
      font-size: 48px;
    }

    @include xlarge {
      font-size: 58px;
    }
  }
}

.intro {
  font-size: 22px;
  margin: $d-padding auto;
  max-width: 975px;
  text-align: center;

  @include md {
    margin: 60px auto;
  }
}

img {
  &.float {
    display: block;
    margin: 15px 0;

    &--right {
      @include md {
        float: right;
        margin: 0 0 10px 10px;
      }
    }
  }
}
