.general {
  h1, h2, h3 {
    font-family: var(--f-serif);
    font-weight: 400;
    color: var(--c-gray);
    line-height: 1.25;
    margin-top: var(--d-space-large);
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
    line-height: 1.75;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .feature & {
      color: #fff;
    }
  }
  ul {
    padding-left: var(--d-space);
  }
  ol li,
  ul li {
    margin-bottom: var(--d-space);
  }
  a {
    color: var(--c-teal);
    &:visited {
      color: var(--c-medium-light-gray);
    }
    &:hover {
      color: var(--c-gray);
    }
  }
  blockquote {
    position: relative;
    margin: 0;
    padding: var(--d-space-small) 0;
    margin: var(--d-space) 0;
    color: var(--c-black);
    &:after {
      content: "";
      display: block;
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0;
      left: calc(-1 * var(--d-padding-small));
      background: var(--c-teal);
      border-radius: 2px;
      @media (--medium) {
        left: calc(-1 * var(--d-padding));
      }
    }
    p, h1, h2, h3 {
      font-family: var(--f-serif);
      font-style: italic;
      border-radius: 2px;
      font-size: 20px;
      margin: var(--d-space-small) 0;
    }
  }
}

.collection-list-heading {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.section-heading {
  text-align: center;

  h1 {
    font: 500 40px var(--f-serif);
    margin: 0 0 var(--d-padding);

    @media (--small) {
      font-size: 48px;
      margin-bottom: var(--d-space);
    }

    @media (--large) {
      font-size: 58px;
      margin-bottom: var(--d-space-large);
    }

    + h2,
    + h3 {
      margin-bottom: 15px;
      margin-top: -15px;


      @media (--small) {
        margin-top: calc(-1 * var(--d-space));
      }

      @media (--large) {
        margin-top: calc(-1 * var(--d-space-large));
      }
    }
  }

  h2, h3 {
    color: var(--c-medium-gray);
    font: normal 36px var(--f-sans);
    margin: 60px 0;
  }

  .promos & {
    grid-column: 1 / 4;
  }

  &--no-padding {
    h1 {
      margin-bottom: 0;
    }
  }
}

.section-subheading {
  text-align: center;
  color: var(--c-medium-gray);

  h1, h2, h3, p {
    font: 500 24px var(--f-sans);
    margin: 0 0 var(--d-padding);

    @media (min-width: 768px) {
      font-size: 36px;
      margin: 0 0 60px;
    }
  }

  .section-heading ~ & {
    margin-top: var(--d-space-small);

    @media (--medium) {
      margin-top: var(--d-space);
    }
  }
}

.preheading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: -15px;
  text-transform: uppercase;

  .feature & {
    color: #fff;
  }
}

.heading {
  color: var(--c-black);
  font: 500 35px var(--f-serif);
  margin-bottom: 0;
  margin-top: 0;

  .feature & {
    color: #fff;
  }
}

.subheading {
  color: var(--c-medium-gray);
  font: 600 14px var(--f-sans);
  margin: 0;
  text-transform: uppercase;
}

.title {
  font: 600 28px var(--f-serif);
  margin: 0;

  &--splash {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin: 20px 0;

    @media (min-width: 960px) {
      font-size: 58px;
    }
  }
}

.intro {
  font-size: 22px;
  margin: var(--d-padding) auto;
  max-width: 975px;
  text-align: center;

  @media (min-width: 768px) {
    margin: 60px auto;
  }
}

img {
  &.float {
    display: block;
    margin: 15px 0;

    &--right {
      @media (min-width: 768px) {
        float: right;
        margin: 0 0 10px 10px;
      }
    }
  }
}
