.header {
  @extend %layout-container;
  padding: 20px $d-padding $d-padding;

  @include md {
    display: grid;
    grid-gap: 0 30px;
    grid-template-areas: 'branding nav';
    height: $d-header-height;
    position: relative;
    z-index: 205;
  }
}
