.header {
  @mixin layout-container;
  margin: 20px 0 var(--d-padding);

  @media (min-width: 760px) {
    display: grid;
    grid-gap: 0 30px;
    grid-template-areas: 'branding nav';
    height: var(--d-header-height);
    position: relative;
    z-index: 1;
  }
}
