.header {
  @extend %layout-container;
  padding: 20px $d-padding $d-padding;

  @include md {
    display: grid;
    grid-gap: 0 30px;
    grid-template-areas: 'branding nav';
    position: relative;
    z-index: 205;
  }

  .homepage.collection-layout-default & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
