.hero {
  background-color: $c-very-light-gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-areas: 'hero';
  margin-top: $d-header-height-offset-mobile;
  padding-top: (-$d-header-height-offset-mobile);
  padding-bottom: $d-padding-large;

  @include large {
    margin-top: $d-header-height-offset;
    padding-top: (-$d-header-height-offset);
    padding-bottom: 0;
    width: 100%;
    min-height: 800px;
  }

  // &__image {
  //   display: block;
  //   grid-area: hero;
  //   max-height: $d-hero-max-height;
  //   min-height: 300px;
  //   object-fit: cover;
  //   width: 100%;
  // }

  &__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: hero;
    text-align: center;
    width: 100%;

    @include large {
      padding-top: $d-padding-large;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content {
    width: 75%;

    h1 {
      @extend .title;
      @extend .title--splash;
    }

    h2, h3 {
      @extend .subheading;
    }

    a {
      @extend .button;
    }
  }
}
