.hero {
  position: relative;
  background-color: $c-very-light-gray;
  display: grid;
  grid-template-areas: 'hero';
  padding: $d-padding-large 0;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100%;
    width: 100%;
    background-color: rgba(#bada55, .5);
  }

  @include md {
    margin-top: $d-header-height-offset;
    padding-top: (-$d-header-height-offset);
    width: 100%;
  }

  @include large {
    min-height: 800px;
  }

  &__content-container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: hero;
    text-align: center;
    width: 100%;
    z-index: 210;

    @include large {
      padding-top: $d-padding-large;
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content {
    width: 75%;

    h1 {
      @extend .title;
      @extend .title--splash;
    }

    h2, h3 {
      @extend .subheading;
    }

    a {
      @extend .button;
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include md-max {
      // filter: url(#mono-ish);
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
        background-image: linear-gradient(to bottom, rgba(#fff, 0.25), rgba(#fff, 0.85));
      }
    }
  }
}
