.hero {
  background-color: var(--c-very-light-gray);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: 'hero';
  margin-top: var(--d-header-height-neg-mobile);
  min-height: calc(100vw / 16 * 9);
  padding: 200px 0;

  @media (min-width: 960px) {
    margin-top: var(--d-header-height-neg);
    padding: 150px 0 30px;
    width: 100vw;
  }

  &__image {
    display: block;
    grid-area: hero;
    height: calc(100vw / 16 * 9);
    max-height: var(--d-hero-max-height);
    min-height: 300px;
    object-fit: cover;
    width: 100%;
  }

  &__content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: hero;
    justify-content: center;
    text-align: center;
    width: 100%;

    @media (min-width: 960px) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__content {
    width: 75%;

    h1 {
      @extend .title;
      @extend .title--splash;
    }

    h2, h3 {
      @extend .subheading;
    }

    a {
      @extend .button;
    }
  }
}
