.indigenous-language-map-app {
  position: relative;
  height: 480px;

  @include md {
    height: 640px;
  }

  @include large {
    height: 800px;
  }
}

.collection-type-indigenous-language-map {
  main > .layout-container--main {
    display: none;
  }
}