.layout-container {
  @extend %layout-container;

  &--intro {
    margin: $d-padding auto;
    max-width: 975px;

    @include md {
      margin: 60px auto;
    }

    h1,
    h2,
    h3,
    p {
      font-size: 16px;
      @include md {
        font-size: 22px;
      }
    }
  }

  &--slim {
    max-width: $d-max-layout-width--slim;
  }

  &--inset {
    padding: 0;

    @include xlarge {
      padding-left: $d-padding;
      padding-right: $d-padding;
    }
  }
}
