.layout-container {
  @mixin layout-container;

  &--intro {
    margin: var(--d-padding) auto;
    max-width: 975px;

    @media (min-width: 768px) {
      margin: 60px auto;
    }

    p,
    h1,
    h2,
    h3 {
      font-size: 1.5rem;
      font-size: 22px;
    }
  }

  &--slim {
    max-width: var(--d-max-layout-width--slim);
  }

  &--inset {
    padding: 0;

    @media (--x-large) {
      padding-left: var(--d-padding);
      padding-right: var(--d-padding);
    }
  }
}
