.layout-container {
  @extend %layout-container;

  &--intro {
    margin: $d-padding auto;
    max-width: 975px;

    @include md {
      margin: 60px auto;
    }

    p,
    h1,
    h2,
    h3 {
      font-size: 1.5rem;
      font-size: 22px;
    }
  }

  &--slim {
    max-width: $d-max-layout-width--slim;
  }

  &--inset {
    padding: 0;

    @include x-large {
      padding-left: $d-padding;
      padding-right: $d-padding;
    }
  }
}
