.links-header {
  &__title {
    font: normal 24px $f-serif;
    color: $c-medium-gray;
    margin-bottom: $d-space-small;
    margin-top: 0;
  }

  &__subheading {
    font: 600 14px $f-sans;
    margin-bottom: $d-space-small;
    margin-top: 0;
    text-transform: uppercase;
  }

  .feature & {
    &__title,
    &__subheading {
      color: #fff;
    }
  }

  &--small {
    .links-header__title {
      font-size: 18px;
      margin-bottom: 0;
    }
    .links-header__subheading {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}
