.loading-spinner {
  display: block;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  border: 5px solid var(--c-teal);
  border-bottom-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}
