.mission {
  background: url('/assets/world-map-bg.jpg');
  background-position: center center;
  background-size: cover;
  color: #fff;
  font: 400 36px var(--f-serif);
  line-height: 1.4;
  padding: 120px 0;
  text-align: center;

  &__content {
    display: grid;
    grid-gap: 50px 0;
    justify-content: center;

    && {
      padding-left: var(--d-padding);
      padding-right: var(--d-padding);

      @media (min-width: 768px) {
        padding-left: 110px;
        padding-right: 110px;
      }
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__statement {
    margin: 0;
  }
}
