.nav {
  @mixin grid-column-vertical-center;
  align-items: center;
  display: grid;
  grid-area: nav;
  grid-auto-flow: column dense;
  justify-content: center;
  grid-gap: 0 30px;

  @media (min-width: 768px) {
    justify-content: flex-end;
    grid-gap: 0 40px;
  }

  &__link {
    @mixin link var(--c-nav-link);
  }
}
