.nav {
  display: flex;
  justify-content: center;
  @include md {
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__link {
    color: $c-nav-link;
    &:hover {
      color: $c-teal;
    }
    margin-left: $d-space-large;
    &:first-of-type {
      margin-right: 0;
    }
    &--active {
      font-weight: bold;
      @include link($c-teal);
    }
  }
}
