.nav {
  @mixin grid-column-vertical-center;
  align-items: center;
  display: grid;
  grid-area: nav;
  grid-auto-flow: column dense;
  grid-gap: 0 40px;
  justify-content: flex-end;

  &__link {
    @mixin link var(--c-nav-link);
  }
}
