.nav {
  align-items: center;
  display: grid;
  grid-area: nav;
  grid-auto-flow: column dense;
  grid-gap: 0 40px;
  justify-content: flex-end;

  @mixin grid-column-vertical-center;

  &__link {
    color: var(--c-nav-link);

    &:hover {
      color: color(var(--c-nav-link) lightness(10%));
    }
  }
}
