.nav {
  @include md {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  &__link {
    @include link($c-nav-link);
    margin-left: $d-space-large;
    &:first-of-type {
      margin-right: 0;
    }
  }
}
