.options {
  @extend %layout-container;

  margin-bottom: $d-padding;

  @include sm {
    margin-bottom: $d-padding-large;
  }

  a {
    @extend .button;
  }

  a,
  .modal-link {
    width: 100%;
    margin-bottom: $d-space;

    @include md {
      margin-bottom: 0;
      margin-right: $d-padding;
      width: auto;

      &:last-of-type {
        margin-right: 0;
      }

    }
  }
}
