.options {
  @mixin layout-container;
  margin-bottom: var(--d-padding);

  @media (--small) {
    margin-bottom: calc(2 * var(--d-padding));
  }

  a {
    @extend .button;
  }

  a,
  .modal-link {
    width: 100%;
    margin-bottom: var(--d-space-unit);

    @media (--medium) {
      margin-bottom: 0;
      margin-right: var(--d-padding);
      width: auto;

      &:last-of-type {
        margin-right: 0;
      }

    }
  }
}
