.pills {
  margin-top: var(--d-space-xsmall);
  &__pill {
    background: var(--c-off-white);
    display: inline-flex;
    padding: var(--d-space-xsmall) var(--d-space-small);
    font-size: 11px;
    text-transform: uppercase;
    border-radius: var(--d-border-radius-small)
  }
}
