.pills {
  margin-top: $d-space-xsmall;
  &__pill {
    background: $c-off-white;
    display: inline-flex;
    padding: $d-space-xsmall $d-space-small;
    font-size: 11px;
    text-transform: uppercase;
    border-radius: $d-border-radius-small
  }
}
