.promos {
  margin-bottom: var(--d-padding);
  margin-top: var(--d-padding);

  &__container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 60px 0;
    margin-bottom: var(--d-padding);
    margin-top: var(--d-padding);

    @media (min-width: 768px) {
      grid-gap: 0 var(--d-padding);
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 100px;
      margin-top: 100px;
    }
  }
}

.promo {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 25px 0;
  justify-content: stretch;
  text-align: center;

  &__media-container {
    @mixin responsive-media 70%;
  }

  p a {
    border-bottom: 2px solid var(--c-teal);
    font: normal 24px var(--f-serif);
    line-height: 175%;
    justify-self: center;
    margin: 0;
    padding-bottom: 5px;
    color: inherit;
    transition: border 100ms ease-in;
    &:hover {
      border-bottom: 2px solid var(--c-off-white);
    }
  }

  .sqs-block {
    &:hover {
      & + .sqs-block {
        p a {
          border-bottom: 2px solid var(--c-off-white);
        }
      }
    }
  }
}
