.promos {
  display: grid;
  grid-gap: $d-padding-small 0;
  padding-top: $d-padding-large;
  padding-bottom: $d-padding-large;
  @include md {
    grid-gap: $d-padding 0;
  }

  &__container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: $d-padding $d-padding;

    @include sm {
      grid-grap: $d-padding-large $d-padding;
      grid-template-columns: #{'~"repeat(2, 1fr)"'};
    }

    @include md {
      grid-gap: 0 $d-padding;
      grid-template-columns: #{'~"repeat(3, 1fr)"'};
    }
  }
}

.promo {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 25px 0;
  justify-content: stretch;
  text-align: center;

  &__media-container {
    @include responsive-media(70%);
  }

  p a {
    border-bottom: 2px solid $c-teal;
    font: normal 20px $f-serif;
    line-height: 175%;
    justify-self: center;
    margin: 0;
    padding-bottom: 5px;
    color: inherit;
    transition: border 100ms ease-in;
    &:hover {
      border-bottom: 2px solid $c-off-white;
    }

    @include md {
      font-size: 24px;
    }
  }

  .sqs-block {
    &:hover {
      & + .sqs-block {
        p a {
          border-bottom: 2px solid $c-off-white;
        }
      }
    }
  }
}
