.promos {
  margin-bottom: $d-padding;
  margin-top: $d-padding;

  &__container {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 60px 0;
    margin-bottom: $d-padding;
    margin-top: $d-padding;

    @include md {
      grid-gap: 0 $d-padding;
      grid-template-columns: #{'~"repeat(3, 1fr)"'};
      margin-bottom: 100px;
      margin-top: 100px;
    }
  }
}

.promo {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 25px 0;
  justify-content: stretch;
  text-align: center;

  &__media-container {
    @include responsive-media(70%);
  }

  p a {
    border-bottom: 2px solid $c-teal;
    font: normal 24px $f-serif;
    line-height: 175%;
    justify-self: center;
    margin: 0;
    padding-bottom: 5px;
    color: inherit;
    transition: border 100ms ease-in;
    &:hover {
      border-bottom: 2px solid $c-off-white;
    }
  }

  .sqs-block {
    &:hover {
      & + .sqs-block {
        p a {
          border-bottom: 2px solid $c-off-white;
        }
      }
    }
  }
}
