.resource-article {
  @mixin layout-container;
  margin-bottom: 100px;
  display: grid;
  grid-gap: var(--d-padding) 50px;
  grid-template-columns: auto auto minmax(auto, 380px);
  grid-template-areas:  "banner banner banner"
                        "breadcrumbs breadcrumbs ."
                        "title title ."
                        "share article aside";


  &__title {
    grid-area: title;
  }

  &__article {
    grid-area: article;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__banner {
    display: block;
    grid-area: banner;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }

  &__aside {
    grid-area: aside;
    align-self: flex-start;
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (--medium) {
      position: sticky;
      top: 20px;
    }
  }
}
