.resources {
  display: grid;
  grid-gap: 60px var(--d-padding);
  grid-template-columns: repeat(3, 1fr);
}

.resource {
  align-content: flex-start;
  align-items: flex-start;
  display: grid;
  grid-gap: var(--d-padding) 0;
  justify-content: center;
  justify-items: center;
  text-align: center;

  &__responsive-media {
    @mixin responsive-media 64.29%;
    width: 100%;
  }

  &__title {
    font: normal 28px var(--f-serif);
    margin: 0;

    a {
      color: inherit;
    }
  }

  &__description {
    margin: 0;
  }

  ul {
    @mixin clear-list;
    display: grid;
    grid-gap: 15px 0;

    li {
      @mixin fancy-bullet;
      text-align: left;
    }
  }
}

.resource-article {
  @mixin layout-container;
  display: grid;
  grid-gap: var(--d-padding) 50px;
  grid-template-areas:
    'banner banner banner'
    'breadcrumbs breadcrumbs .'
    'title title .'
    'share article aside';
  grid-template-columns: auto auto minmax(auto, 380px);
  padding-bottom: 100px;

  .feature & {
    grid-template-areas:
      'preheader .'
      'title .'
      'breadcrumbs .'
      'map map'
      'article aside';
    grid-template-columns: auto minmax(auto, 380px);
    padding-top: 40px;
  }

  &__title {
    grid-area: title;
  }

  &__article {
    grid-area: article;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__banner {
    display: block;
    grid-area: banner;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }

  &__gallery {
    grid-area: banner;
  }

  &__aside {
    align-self: flex-start;
    display: grid;
    grid-area: aside;
    grid-gap: var(--d-padding) 0;

    img {
      display: block;
      width: 100%;
    }

    @media (--medium) {
      position: sticky;
      top: 20px;
    }
  }

  &--video {
    align-content: flex-start;
    align-items: flex-start;
    grid-gap: 0 var(--d-padding);
    grid-template-areas: 'video-area breadcrumbs'
      'video-area title'
      'video-area article'
      'video-area share'
      'video-next video-next'
      'video-links video-links'
      'aside aside';
    grid-template-columns: 6.5fr 3.5fr;

    .resource-article {
      &__share {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0 16px;
        justify-content: flex-start;
      }

      &__aside {
        align-self: flex-start;
        display: grid;
        grid-area: aside;
        grid-gap: var(--d-padding) 0;

        @media (--medium) {
          position: relative;
        }
      }

      &__article {
        &.general {
          p:first-of-type {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__map {
    grid-area: map;
    /* width: 100vw;
    margin-left: calc(((100vw - 100%) / 2) * -1); */
    width: 100vw;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    left: 0px;
    display: flex;
    align-items: center;
    bottom: 0;
    height: auto;
  }

  &__video-area {
    grid-area: video-area;
  }

  &__video {
    @mixin responsive-media 62.5%;
    width: 100%;
  }

  &__video-links {
    display: grid;
    grid-area: video-links;
    grid-auto-flow: column;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(auto, 286px));
    margin: 0 0 50px;
  }

  &__video-next {
    grid-area: video-next;
    padding: 20px 0;

    a {
      color: var(--c-medium-light-gray);
      font-style: italic;
      text-decoration: underline;
    }
  }
}

.gallery {
  .swiper-container {
    margin: 30px 0;
  }

  .swiper-slide {
    @mixin responsive-media 62.2%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    align-items: center;
    background: none;
    color: var(--c-cyan);
    display: flex;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: .02rem;
    line-height: 1;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
    top: auto;
    width: auto;

    span {
      font-size: 2.2rem;
      font-weight: normal;
      position: relative;
      top: -4px;
    }
  }

  .swiper-button-next span {
    padding-left: 20px;
  }

  .swiper-button-prev span {
    padding-right: 20px;
  }

  .swiper-pagination {
    position: relative;
  }

  .swiper-navigation {
    align-items: center;
    background: var(--c-very-light-gray);
    display: flex;
    grid-auto-flow: column;
    height: 60px;
    justify-content: space-between;
    padding: 0 var(--d-padding);
  }

  .swiper-pagination {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 25px;
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    height: 16px;
    position: relative;
    width: 16px;

    &-active {
      background: var(--c-cyan);

      &::before {
        border: solid 2px var(--c-cyan);
        border-radius: 50%;
        content: '';
        display: block;
        height: 30px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        z-index: -1;
      }
    }
  }
}
