.resources-list-container {
  display: grid;
  margin-bottom: $d-padding-large;

  @include sm {
    grid-gap: $d-padding 0;
    grid-template-columns: #{'~"repeat(2, 1fr)"'};
  }

  @include md {
    grid-template-columns: #{'~"repeat(3, 1fr)"'};
  }

  &--horizontal {
    grid-template-columns: initial;
  }
}

.resources-list {
  position: relative;
  display: grid;
  grid-template-areas: 'header-image'
    'title'
    'list';
  align-content: start;
  grid-gap: $d-space;
  padding: $d-padding-small;
  transition: background ease-out 250ms;

  &__title {
    grid-area: title;
    font: normal 28px $f-serif;
    margin: 0;
    text-align: center;
  }

  &__count-badge {
    position: absolute;
    top: $d-space;
    right: $d-space;
    z-index: 100;
    color: #fff;
    font-size: 12px;
    background-color: rgba(30, 109, 125, 0.75); /* $c-blue */
    padding: $d-space-xsmall $d-space-small;
    border-radius: $d-border-radius-small;
  }

  &__header-image {
    @include filter(#blue-mono);
    grid-area: header-image;
    width: #{'~"calc(100% + 60px)"'};
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 0 0 (-$d-padding);
    background-color: $c-very-light-gray;
    background-size: cover;
    background-position: center;
    img {
      display: none;
    }
    @include sm {
      width: 100%;
      border-radius: $d-border-radius;
      margin: 0;
    }
  }

  &__list {
    @extend %clear-list;
    grid-area: list;
    display: grid;
    grid-gap: $d-space;

    .resources-list-container--horizontal & {
      @include sm {
        grid-template-columns: #{'~"repeat(2, 1fr)"'};
      }
      @include large {
        grid-template-columns: #{'~"repeat(3, 1fr)"'};
      }
    }
  }
  &--highlighted {
    background-image: linear-gradient(to bottom, $c-teal, #fff);
    background-size: 100% 200px;
    background-repeat: no-repeat;
    border-radius: $d-border-radius-large;
  }
}

.resources-list-item {
  @extend %fancy-bullet;
  @extend %fancy-bullet--blue;
  text-align: left;
  &__link {
    width: 100%;
    @extend %gray-teal-link;
    &:visited {
      color: $c-medium-gray;
    }
  }
}

.resource-article {
  @extend %layout-container;
  display: grid;
  grid-gap: $d-padding 0;
  grid-template-areas: 'banner'
    'breadcrumbs'
    'title'
    'share'
    'article'
    'aside';
  margin-bottom: $d-padding;
  padding-bottom: $d-padding-large;

  @include md {
    grid-gap: $d-padding $d-padding-large;
    grid-template-areas: 'banner banner banner'
      'breadcrumbs breadcrumbs .'
      'title title .'
      'share article aside';
    grid-template-columns: auto auto minmax(auto, 380px);
  }

  .feature & {
    grid-template-areas: 'title'
      'breadcrumbs'
      'map'
      'article'
      'aside';
    margin-bottom: 0;
    padding-top: 40px;

    @include md {
      grid-template-areas: 'title .'
        'breadcrumbs .'
        'map map'
        'article aside';
      grid-template-columns: auto minmax(auto, 380px);
    }
  }

  &__title {
    grid-area: title;
  }

  &__article {
    grid-area: article;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__banner {
    display: block;
    grid-area: banner;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }

  &__gallery {
    grid-area: banner;
  }

  &__aside {
    align-self: flex-start;
    display: grid;
    grid-area: aside;
    grid-gap: $d-padding 0;

    img {
      display: block;
      width: 100%;
    }

    @include md {
      position: sticky;
      top: 20px;
    }
  }

  &--video {
    align-content: flex-start;
    align-items: flex-start;
    grid-gap: $d-padding-small 0;
    padding-bottom: 0;
    margin-bottom: (-$d-padding-small);

    grid-template-areas: 'asset-area'
      'title'
      'breadcrumbs'
      'article'
      'share'
      'video-links'
      'aside';

    @include md {
      grid-gap: $d-padding;
      grid-template-areas: 'breadcrumbs breadcrumbs'
        'asset-area title'
        'asset-area article'
        'asset-area share'
        'video-links video-links'
        'aside aside';
      grid-template-columns: #{'~"6.5fr 3.5fr"'};
      padding-bottom: $d-padding-large;
      margin-bottom: $d-padding;
    }

    .resource-article {
      &__aside {
        align-self: flex-start;
        display: grid;
        grid-area: aside;
        grid-gap: $d-padding 0;

        @include md {
          position: relative;
        }
      }
    }
  }

  &__map {
    grid-area: map;
  }

  &__asset-area {
    grid-area: asset-area;
    position: relative;
    // TODO (CSS) Fix this for smaller viewports
    margin-left: -15px;
    width: #{'~"calc(100% + 30px)"'}; // $d-padding = 30px

    @include md {
      margin-left: auto;
      width: 100%;
    }
  }

  &__video {
    @include responsive-media(56.25%);
    z-index: 200;
    .inline-player {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .play-button {
      z-index: 210;
      position: relative;
    }
  }

  &__thumbnail {
    @include filter(#teal-mono);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    @include md {
      box-shadow: $d-box-shadow;
      border-radius: $d-border-radius;
    }
  }

  &__video-links {
    grid-area: video-links;
  }
}

.gallery {
  .swiper-container {
    margin: 30px 0 0;

    @include md {
      margin: 30px 0;
    }
  }

  .swiper-slide {
    @include responsive-media(62.25%)
  }

  .swiper-button-next,
  .swiper-button-prev {
    align-items: center;
    background: none;
    color: $c-cyan;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    letter-spacing: .02rem;
    line-height: 1;
    margin-top: 0;
    position: relative;
    text-transform: uppercase;
    top: auto;
    width: auto;

    .arrow {
      font-size: 2.2rem;
      font-weight: normal;
      position: relative;
      top: -4px;
    }

    .label {
      display: none;

      @include md {
        display: inline;
      }
    }
  }

  .swiper-button-next span {
    padding-left: 20px;
  }

  .swiper-button-prev span {
    padding-right: 20px;
  }

  .swiper-pagination {
    position: relative;
  }

  .swiper-navigation {
    align-items: center;
    background: $c-very-light-gray;
    display: flex;
    grid-auto-flow: column;
    height: 40px;
    justify-content: space-between;
    padding: 0 10px;

    @include md {
      height: 60px;
      padding: 0 $d-padding;
    }
  }

  .swiper-pagination {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 15px;

    @include md {
      grid-gap: 0 25px;
    }
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    height: 8px;
    position: relative;
    width: 8px;

    @include md {
      height: 16px;
      width: 16px;
    }

    &-active {
      background: $c-cyan;

      &::before {
        border: solid 2px $c-cyan;
        border-radius: 50%;
        content: '';
        display: block;
        height: 15px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        z-index: -1;

        @include md {
          display: inline;
          height: 36px;
          width: 36px;
        }
      }
    }
  }
}
