.resources {
  display: grid;
  grid-gap: 60px var(--d-padding);
  grid-template-columns: repeat(3, 1fr);
}

.resource {
  text-align: center;
  display: grid;
  grid-gap: var(--d-padding) 0;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: flex-start;

  &__responsive-media {
    @mixin responsive-media 64.29%;
    width: 100%;
  }

  &__title {
    font: normal 28px var(--f-serif);
    margin: 0;

    a {
      color: inherit;
    }
  }

  &__description {
    margin: 0;
  }

  ul {
    @mixin clear-list;
    display: grid;
    grid-gap: 15px 0;

    li {
      @mixin fancy-bullet;
      text-align: left;
    }
  }
}

.resource-article {
  @mixin layout-container;
  margin-bottom: 100px;
  display: grid;
  grid-gap: var(--d-padding) 50px;
  grid-template-columns: auto auto minmax(auto, 380px);
  grid-template-areas:  "banner banner banner"
                        "breadcrumbs breadcrumbs ."
                        "title title ."
                        "share article aside";


  &__title {
    grid-area: title;
  }

  &__article {
    grid-area: article;
  }

  &__share {
    grid-area: share;
  }

  &__breadcrumbs {
    grid-area: breadcrumbs;
  }

  &__banner {
    display: block;
    grid-area: banner;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }

  &__aside {
    grid-area: aside;
    align-self: flex-start;
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (--medium) {
      position: sticky;
      top: 20px;
    }
  }
}
