.rule {
  display: block;

  &--section {
    background: $c-light-gray;
    border: 0;
    display: block;
    height: 4px;
    margin: $d-padding auto;
    width: 40px;

    @include md {
      margin: 100px auto;
    }
  }
}
