.shares {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0 16px;
  justify-content: flex-start;
}

.share {
  width: 38px;
  height: 38px;
  padding: 0;
  background: $c-cyan;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: 2px solid $c-cyan;
  outline: none;
  transition: background 100ms ease-out;

  &:hover {
    background: lighten($c-cyan, 5%);
  }

  &:focus {
    border-color: darken($c-cyan, 4%);
  }

  &:active {
    background: darken($c-cyan, 2%);
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    max-width: #{'~"calc(100% - 15px)"'};
    max-height: #{'~"calc(100% - 15px)"'};
  }
}
