.video-block {
  background-color: var(--c-blue);
  display: grid;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;

  @media (min-width: 768px) {
    align-content: center;
    align-items: center;
    grid-auto-columns: var(--d-max-layout-width--slim);
    height: calc(100vw / 16 * 9);
  }

  * {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: #fff;
    font-family: var(--f-serif);
    font-size: 22px;
    margin-bottom: var(--d-padding);
    margin-top: 0;
    max-width: calc(100vw - 60px);

    @media (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 85px;
    }

    &::last-child {
      margin-bottom: 0;
    }
  }

  &__responsive-media {
    @mixin responsive-media 56.25%;
    opacity: .25;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  &__play {
    display: block;
    margin-bottom: 25px;
  }

  &__cta {
    color: #fff;
    font-size: 12px;
    letter-spacing: .05rem;
    text-transform: uppercase;
  }
}
