.layout--about {
  display: grid;
  grid-gap: var(--d-padding) 0;

  @media (min-width: 768px) {
    grid-gap: 0 20px;
    grid-template-columns: 2fr 3fr;
  }

  && {
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 100px;
    }
  }

  &__aside {
    align-content: flex-start;
    display: grid;
    font: 500 36px var(--f-sans);
    grid-gap: var(--d-padding);

    @media (min-width: 768px) {
      grid-gap: 100px 0;
      padding: 0 30px 0 20px;
    }

    img {
      display: block;
      width: 100%;
    }

    i {
      color: var(--c-light-gray);
      display: block;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__main {
    display: grid;
    grid-gap: var(--d-padding) 0;

    @media (min-width: 768px) {
      grid-gap: 60px 0;
    }
  }

  &__image {
    max-width: 240px;

    &--centered {
      justify-self: center;
    }
  }
}
