.layout--about {
  display: grid;
  grid-gap: $d-padding 0;

  @include md {
    grid-gap: 0 $d-space;
    grid-template-columns: #{'~"2fr 3fr"'};
  }

  & {
    margin-bottom: 50px;

    @include md {
      margin-bottom: 100px;
    }
  }

  &__aside {
    align-content: flex-start;
    display: grid;
    font: 500 36px $f-sans;
    grid-gap: $d-padding;

    @include md {
      grid-gap: 100px 0;
      padding: 0 30px 0 20px;
    }

    &--secondary {
      img {
        max-width: 240px;
        justify-self: center;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    em,
    i {
      color: $c-light-gray;
      display: block;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__main {
    display: grid;
    grid-gap: $d-padding 0;

    @include md {
      grid-gap: 60px 0;
    }

    h1, h2 {
      @extend .heading;
    }
    h3 {
      @extend .subheading;
    }
  }
}
