.layout--about {
  display: grid;
  grid-gap: $d-padding 0;

  @include md {
    padding-top: $d-space-large;
    grid-gap: 0 $d-padding;
    grid-template-columns: #{'~"2fr 3fr"'};
  }

  & {
    margin-bottom: $d-padding;

    @include md {
      margin-bottom: $d-padding-large;
    }
  }

  &__aside {
    align-content: flex-start;
    display: grid;
    font: 500 20px $f-sans;
    grid-gap: $d-padding;

    @include md {
      grid-gap: $d-space-xlarge 0;
      font-size: 28px;
    }

    @include xlarge {
      font-size: 32px;
    }

    &--secondary {
      padding: 0 $d-padding-large;

      @include sm {
        padding-left: $d-padding-large;
        padding-right: $d-padding-large;
      }
    }

    em,
    i {
      color: $c-light-gray;
      display: block;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  &__main {
    display: grid;
    grid-gap: $d-padding 0;

    @include md {
      grid-gap: 60px 0;
    }

    h1, h2 {
      @extend .heading;
    }
    h3 {
      @extend .subheading;
    }
    p {
      + h3 {
        margin-top: $d-space !important;

        @include md {
          margin-top: $d-space-large !important;
        }
      }
    }
  }
}
