:root {
  /* Colors */
  --c-default: #414042;
  --c-cyan: #3ac8c1;
  --c-gray: #414042;
  --c-medium-gray: #7c7c7c;
  --c-medium-light-gray: #909090;
  --c-very-light-gray: #ebebeb;
  --c-light-gray: #adaeae;
  --c-off-white: #f4f4f5;
  --c-black: #050505;
  --c-teal: #64c3bf;
  --c-teal--alt: #98e0dc;
  --c-blue: #1f6d7d;
  --c-nav-link: #050505;
  --c-footer-bg: #1f6d7d;
  --c-footer-cta-bg: #f0f1f2;

  /* Fonts */
  --f-sans: 'Noto Sans', Helvetica, Arial, sans-serif;
  --f-serif: 'Noto Serif', Georgia, serif;

  /* Dimensions */
  --d-max-layout-width: 1260px;
  --d-max-layout-width--slim: 800px;
  --d-header-height: 150px;
  --d-header-height-neg-mobile: -170px;
  --d-header-height-neg: -150px;
  --d-footer-height: 160px;
  --d-padding: 30px;
  --d-hero-max-height: 720px;
  --d-bullet-padding-start: 32px;
}

@custom-media --medium (min-width: 800px);
