*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;

  @include md {
    font-size: 16px;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: $c-gray;
  font-family: $f-sans;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="select"] {
  border: 1px solid $c-medium-light-gray;
  font-size: 14px;
  padding: $d-space-small;
  border-radius: $d-border-radius-small;
  &:focus {
    border: 1px solid $c-teal;
    box-shadow: 0 0 4px 0 $c-teal;
    outline: none;
  }
}

#css-filters {
  display: none;
}
