$mq-small: 480px;
$mq-small-max: 479px;
$mq-medium-max: 767px;
$mq-medium: 768px;
$mq-large: 960px;
$mq-x-large: 1260px;

@mixin sm {
  @media (min-width: #{$mq-small}) {
    @content;
  }
 }

 @mixin sm-max {
  @media (max-width: #{$mq-small-max}) {
    @content;
  }
 }

@mixin md {
 @media (min-width: #{$mq-medium}) {
   @content;
 }
}

@mixin md-max {
 @media (max-width: #{$mq-medium-max}) {
   @content;
 }
}

@mixin large {
 @media (min-width: #{$mq-large}) {
   @content;
 }
}

@mixin xlarge {
 @media (min-width: #{$mq-x-large}) {
   @content;
 }
}

%layout-container {
  margin: 0 auto;
  max-width: $d-max-layout-width;
  padding: 0 $d-padding-small;
  line-height: 1.75;

  @include md {
    padding-left: $d-padding;
    padding-right: $d-padding;
  }

  @include large {
    padding-left: $d-padding-large;
    padding-right: $d-padding-large;
  }
}

%grid-column-vertical-center {
  align-items: center;
  display: grid;
  grid-auto-flow: column dense;
}

@mixin link($color) {
  color: $color;

  &:hover {
    color: lighten($color, 10%);
  }
  &:focus {
    color: darken($color, 5%);
  }
  &:active {
    color: darken($color, 10%);
  }
}

%gray-teal-link {
  color: $c-medium-light-gray;
  transition: color 100ms ease-out;
  &:hover {
    color: $c-teal !important;
  }
  &:focus {
    color: darken($c-teal, 5%) !important;
  }
  &:active {
    color: darken($c-teal, 10%) !important;
  }
}

%clear-list {
  list-style: none;
  padding-left: 0;
}

%fancy-bullet {
  background: url('/assets/bullet.svg') left 2px no-repeat;
  background-size: 12px;
  line-height: 1.4;
  padding-left: 20px;

  @include md {
    background-size: 16px;
    padding-left: $d-bullet-padding-start;
  }
}

%fancy-bullet--blue {
  background-image: url('/assets/bullet-blue.svg');
}

@mixin responsive-media($ratio) {
  height: 0;
  padding-bottom: $ratio;
  position: relative;
}

%antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin filter($id) {
  filter: url($id);
  -webkit-filter: url($id);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
