@define-mixin layout-container {
  margin: 0 auto;
  max-width: var(--d-max-layout-width);
  padding: 30px;
}

@define-mixin grid-column-vertical-center {
  align-items: center;
  display: grid;
  grid-auto-flow: column dense;
}
