@define-mixin layout-container {
  margin: 0 auto;
  max-width: var(--d-max-layout-width);
  padding: 0 30px;
}

@define-mixin grid-column-vertical-center {
  align-items: center;
  display: grid;
  grid-auto-flow: column dense;
}

@define-mixin link $color {
  color: $color;

  &:hover {
    color: color-mod($color lightness(10%));
  }
}

@define-mixin responsive-media $ratio {
  height: 0;
  padding-bottom: $ratio;
  position: relative;

  img,
  video {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
