@define-mixin layout-container {
  margin: 0 auto;
  max-width: var(--d-max-layout-width);
  padding: 0 30px;
}

@define-mixin grid-column-vertical-center {
  align-items: center;
  display: grid;
  grid-auto-flow: column dense;
}

@define-mixin link $color {
  color: $color;

  &:hover {
    color: color-mod($color lightness(10%));
  }
}

@define-mixin clear-list {
  list-style: none;
  padding-left: 0;
}

@define-mixin fancy-bullet {
  background: url('/assets/bullet.png') left 2px no-repeat;
  background-size: 12px;
  line-height: 1.4;
  padding-left: 20px;

  @media (--medium) {
    background-size: 16px;
    padding-left: var(--d-bullet-padding-start);
  }
}

@define-mixin responsive-media $ratio {
  height: 0;
  padding-bottom: $ratio;
  position: relative;
}
