%layout-container {
  margin: 0 auto;
  max-width: var(--d-max-layout-width);
  padding: 0 var(--d-padding-small);
  @media (--medium) {
    padding-left: var(--d-padding);
    padding-right: var(--d-padding);
  }
}

%grid-column-vertical-center {
  align-items: center;
  display: grid;
  grid-auto-flow: column dense;
}

@mixin link($color) {
  color: $color;

  &:hover {
    color: lighten($color, 10%);
  }
}

%clear-list {
  list-style: none;
  padding-left: 0;
}

@define-mixin fancy-bullet {
  background: url('/assets/bullet.svg') left 2px no-repeat;
  background-size: 12px;
  line-height: 1.4;
  padding-left: 20px;

  @media (--medium) {
    background-size: 16px;
    padding-left: var(--d-bullet-padding-start);
  }
}

%fancy-bullet {
  background: url('/assets/bullet.svg') left 2px no-repeat;
  background-size: 12px;
  line-height: 1.4;
  padding-left: 20px;

  @media (--medium) {
    background-size: 16px;
    padding-left: var(--d-bullet-padding-start);
  }
}

@define-mixin fancy-bullet--blue {
  background-image: url('/assets/bullet-blue.svg');
}

%fancy-bullet--blue {
  background-image: url('/assets/bullet-blue.svg');
}

@mixin responsive-media($ratio) {
  height: 0;
  padding-bottom: $ratio;
  position: relative;
}
