ul[data-rte-list] li {
  & > * {
    margin: 0;
    &:first-child:before {
      content: "";
      display: none;
    }
  }
}


@media (--medium-max) {
  .sqs-col-6 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100% !important;
  }
}
